@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Squada+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Fjalla+One&family=Squada+One&display=swap');
/* PALETA DE COLORES */
:root{
    /* Colores principales */
    --color-primary: #2D6A4F;
    --color-secondary: #40916C;
    --color-accent: #74C69D;
    --color-dark: #081C15;
    /* Fondos */
    --color-background: rgb(255, 255, 255); /* Fondo principal muy claro */
    --color-background-light: #B7E4C7; /* Fondo secundario */
    --color-background-dark: #1B4332; /* Fondo oscuro para secciones destacadas */
    /* Textos */
    --color-text-primary: #081C15; /* Texto principal oscuro */
    --color-text-secondary: #1B4332; /* Texto secundario más claro */
    --color-text-inverted: #D8F3DC; /* Texto en fondos oscuros */
    --color-text-title: #f1e5c6; /* Color crema para algunos titulos */
    /* Botones y enlaces */
    --color-button-primary: #2D6A4F;
    --color-button-primary-hover: linear-gradient(to right, #40916C, #347658);
    --color-button-secondary: #52B788;
    --color-link: #2D6A4F;
    --color-link-hover: #82bea3;
    /* Bordes y sombras */
    --color-border: #95D5B2; /* Bordes */
    --color-shadow: rgba(74, 198, 157, 0.3); /* Sombra translúcida */
    /* Mensajes de estado */
    --color-success: #52B788; /* Éxito (verde brillante) */
    --color-error: #e66139; /* (Agrega un rojo para contraste si es necesario) */
    --color-warning: #F4A261; /* (Un naranja suave para advertencias) */
    --color-info: #74C69D; /* Información */
}


input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"]{
    font-family: "Barlow Condensed", sans-serif;
}

.login-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100%; /* Asegura que el contenedor ocupe toda la pantalla */
    overflow: hidden;
    margin: 10px 0;
}

.login-box {
    position: relative;
    z-index: 1; /* Asegura que esté por encima del SVG */
    width: 300px;
    padding: 20px 40px;
    background: var(--color-background-dark);
    border-radius: 10px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.login-box p{
    color: var(--color-error); 
    font-size: 14px;
    font-family: 'Squada One', sans-serif;
}

.login-box2{
    width: 600px;
}

.login-box3{
    width: 800px;
}

.container_cols{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0;
    padding: 0;
}

.container_cols2{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0;
    padding: 0;
}

.columna{
    margin: 0px 20px;
}

.login-box h1 {
    color: var(--color-text-title);
    font-size:50px;
    padding: 0;
    margin-top: 10px;
}

.input-box {
    position: relative;
    margin-bottom: 20px;
    font-family: "Barlow Condensed", sans-serif;
}

.input-box small{
    color: var(--color-warning); 
    display: none; 
    padding: 4px 0; 
    font-weight: bold;
    justify-self: start;
    font-family: sans-serif;
}

.input-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: var(--color-text-inverted);
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
}

.input-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: var(--color-text-title);
    pointer-events: none;
    transition: 0.5s;
    font-weight: 500;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label,
.input-box input:disabled ~ label {
    top: -20px;
    font-size: 14px;
}

.input-box input:disabled{
    color: #797979;
}

.button-box {
    text-align: center;
}

.button-box button{
    width: 100%;
    padding: 10px;
    background: var(--color-button-primary);
    border: none;
    border-radius: 25px;
    color: var(--color-text-inverted);
    font-size: 16px;
    font-family: 'Squada One';
    cursor: pointer;
}

.button-box button:hover{
    background: var(--color-button-primary-hover);
}

.customButton {
    font-family: 'Squada One';
    color: var(--color-text-inverted);
    padding: 10px;
    background-color: transparent;
    border: solid 1px white;
    border-radius: 12px;
    cursor: pointer;
    display: inline-block;
    width: 100%;
    font-size: 16px;
}

.customButtondisabled{
    font-family: 'Squada One';
    padding: 10px;
    background-color: transparent;
    border: solid 1px white;
    color: var(--color-text-inverted);
    border-radius: 12px;
    cursor: pointer;
    display: inline-block;
    width: 100%;
    font-size: 16px;
}

.customButtondisabled:hover{
    background-color: var(--color-background-dark);
}

.customButton:hover {
    background: var(--color-button-primary-hover);
}

#customText {
    color: var(--color-text-title);
    font-size: 14px;
    display: block;
    margin-top: 10px;
    width: 100%;
}

.links {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.links a {
    color: var(--color-text-title);
    font-size: 16px;
    text-decoration: none;
}

.links a:hover {
    text-decoration: underline;
    color: var(--color-link-hover);
}

.message-container{
    display: flex;
    align-items: center;
    margin-top: -30px; /* Ajusta según lo necesites */
}

/* Contenedor para el checkbox y su etiqueta */
.checkbox-container {
    display: flex;
    align-items: center;
    margin-top: -14px; /* Ajusta según lo necesites */
    margin-bottom: 20px;
    margin-left: 20px;
    gap: 5px; /* Espacio entre el checkbox y su etiqueta */
}

/* Label para el checkbox */
.checkbox-container label {
    font-size: 14px;
    color: var(--color-text-title);
    margin-right: 10px;
    cursor: pointer;
    font-family: "Barlow Condensed", sans-serif;
}

/* Oculta el checkbox real */
.checkbox-container input[type="checkbox"] {
    display: none;
}

/* Diseño del checkbox personalizado */
.custom-checkbox {
    width: 18px;
    height: 18px;
    background-color: #080808;
    border-radius: 4px;
    border: 2px solid #7e0a0a;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
}

/* Icono del check (oculto por defecto) */
.custom-checkbox:before {
    content: "✓";
    color: #d3d3d3;
    font-size: 14px;
    display: none;
}

/* Mostrar el icono del check cuando esté seleccionado */
.checkbox-container input[type="checkbox"]:checked + .custom-checkbox:before {
    display: block;
}

/* Cambiar el fondo del checkbox cuando esté seleccionado */
.checkbox-container input[type="checkbox"]:checked + .custom-checkbox {
    border-color: #ff7d41;
}

/* CONTENEDOR DE TABLA */
.contenedor_buscador{
    margin: 20px auto;
    width: 90%;
    height: fit-content;
    overflow: auto;
    padding: 10px 30px;
    background: var(--color-background-dark);
    color: #b9b9b9;
    border-radius: 10px;
}

.contenedor_buscador h1 {
    color: var(--color-text-title);
    font-size:50px;
    text-align: center;
}

.contenedor_tabla{
    background-color: transparent;
    padding: 20px 0;
    width: 100%;
}

.contenedor_tabla table{
    text-align: center;
    border-collapse: collapse;
    border: 0;
    width: 100%;
    table-layout: auto;
    font-family: "Fjalla One", sans-serif;
}

.contenedor_tabla th, td{
    padding: 20px 10px;
    border: 1px rgb(189, 187, 187) solid;
    font-size: 16px;
}

/* tabla carrito */
.contenedor_tabla1{
    background-color: transparent;
    margin: 0;
    padding: 20px 0px;
    width: 100%;
}

.contenedor_tabla1 h2{
    color: var(--color-text-title);
    font-family: "Fjalla One", sans-serif;
}

.contenedor_tabla1 table{
    text-align: center;
    border-collapse: collapse;
    border: 0;
    table-layout: fixed;
    font-family: "Fjalla One", sans-serif;
}

.contenedor_tabla1 th, td{
    padding: 20px 10px;
    border: 1px rgb(189, 187, 187) solid;
}