@font-face {
    font-family: "Squada One";
    src: url("fonts/SquadaOne-Regular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Fjalla One";
    src: url("fonts/FjallaOne-Regular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Barlow Condensed";
    src: url("fonts/BarlowCondensed-Regular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* PALETA DE COLORES */
:root{
    /* Colores principales */
    --color-primary: #1D2D44;
    --color-secondary: #748CAB;
    --color-accent: #74C69D;
    --color-dark: #031b4e;
    /* Fondos */
    --color-background: #dae2da; /* Fondo principal muy claro */
    --color-background-navbar : #0e1523;   
    --color-background-light: #c4d2e6; /* Fondo secundario */
    --color-backgorund-gradient-light: linear-gradient(to right, #adbdd3, #73aabb);
    --color-background-dark: #0e1523; /* Fondo oscuro para secciones destacadas */
    /* Textos */
    --color-text-primary: #081C15; /* Texto principal oscuro */
    --color-text-secondary: #1B4332; /* Texto secundario más claro */
    --color-text-inverted: #D8F3DC; /* Texto en fondos oscuros */
    --color-text-title: #f1e5c6; /* Color crema para algunos titulos */
    --color-text-light: #f1faee;
    /* Botones y enlaces */
    --color-button-primary: #f1e5c6;
    --color-button-primary-hover: linear-gradient(to right, #748CAB, #95D5B2);
    --color-button-secondary: #52B788;
    --color-link: #2D6A4F;
    --color-link-hover: #b9d2e7;
    --color-button-bg: #fff;
    /* Bordes y sombras */
    --color-border: #95D5B2; /* Bordes */
    --color-shadow: rgba(74, 198, 157, 0.3); /* Sombra translúcida */
    --color-box-shadow: #e7dcb2;
    /* Mensajes de estado */
    --color-success: #52B788; /* Éxito (verde brillante) */
    --color-error: #e66139; /* (Agrega un rojo para contraste si es necesario) */
    --color-warning: #F4A261; /* (Un naranja suave para advertencias) */
    --color-info: #74C69D; /* Información */
}


body {
    font-family: 'Squada One';
    margin: 0; /* Elimina márgenes predeterminados */
    padding: 0; /* Elimina relleno predeterminado */
    height: 100%; /* Asegura que el cuerpo y html ocupen toda la altura */
    background-color: var(--color-background-dark);
}

.wrapper-main {
    display: flex;
    flex-direction: column;
    min-height: 75vh; /* Asegura que el contenedor principal ocupe al menos toda la altura de la ventana */
}

main {
    flex: 1; /* Hace que el contenido principal ocupe el espacio disponible */
    color: var(--color-text-light);
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--color-background-navbar);
    padding: 13px;
    border-bottom: 4px solid var(--color-secondary);
}

.nav-left, .nav-right {
    display: flex;
    gap: 20px;
}

.nav-logo {
    text-align: center;
    flex-grow: 1;
}

.navbar a {
    text-decoration: none;
    color: var(--color-text-inverted);
    font-size: 2em;
    font-weight: bold;
    padding: 4px 6px;
    position: relative; /* Necesario para posicionar el pseudo-elemento */
    transition: color 0.3s; /* Suaviza el cambio de color */
}

.navbar a:hover {
    color: var(--color-link-hover); /* Cambia el color del texto al pasar el mouse */
    background-color: var(--color-dark); /* Color de fondo negro */
}

#logo{
    background-color: transparent;
}


.navbar img {
    height: 50px; /* Ajusta el tamaño del logo */
    vertical-align: middle;
}

footer {
    background-color: var(--color-background-navbar); /* Color de fondo */
    padding: 20px; /* Espaciado interno */
    text-align: center; /* Centrar el contenido */
    border-top: 4px solid var(--color-secondary); /* Línea superior */
    margin-top: 40px;
}

.footer-content {
    max-width: 800px; /* Ancho máximo del contenido */
    margin: 0 auto; /* Centra el contenido */
}

.footer-content p {
    margin: 0; /* Elimina margen */
    color: var(--color-text-light); /* Color del texto */
}

.social-links {
    margin-top: 10px; /* Espacio entre el texto y los enlaces de redes sociales */
}

.social-links a {
    text-decoration: none; /* Sin subrayado */
    color: rgb(141, 141, 141); /* Color del texto */
    margin: 0 10px; /* Espacio entre los enlaces */
    transition: color 0.3s; /* Suaviza el cambio de color */
}

.social-links a:hover {
    color: var(--color-link-hover); /* Color al pasar el mouse */
}


.custom-swal-button {
    background-color: var(--color-background-dark); /* Cambia el color del fondo */
    color: var(--color-text-inverted); /* Cambia el color del texto */
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.custom-swal-button:hover {
    background-color: var(--color-primary); /* Color al pasar el mouse */
}


.container {
    display: flex;
    height: 85vh;
    gap: 6px;
    justify-content: center;
    margin-top: 20px;
}

.category {
    text-align: center;
    position: relative;
    color: var(--color-text-light);
}

.category h1{
    color: var(--color-text-title);
    font-size: 50px;
    text-align: center;
}

.image-container {
    position: relative;
    height: 100%;
    border-radius: 3%;
    overflow: hidden; /* Esto evita que el zoom se salga de los bordes de la imagen */
}

.image-container img {
    width: 430px;
    height: 100%;
    object-fit: cover;
    border-radius: 3%;
    transition: transform 0.5s ease; /* Transición suave al hacer zoom */
}

.image-container h1 {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: var(--color-text-inverted);
    font-size: 6em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Sombras para hacer el texto más legible */
    z-index: 2; /* Asegura que el texto esté siempre sobre la imagen */
    pointer-events: none; /* Evita que el texto interfiera con el hover en la imagen */
}

/* Efecto zoom al hacer hover */
.image-container:hover img {
    transform: scale(1.1); /* Ajusta el valor para más o menos zoom */
}

.menu-container {
    position: relative;
}


.menu-container:hover .menuContent{
    display: block;
}
  
.menuContent {
    display: none;
    position: absolute;
    width: 50vw; /* Ocupa todo el ancho de la pantalla */
    height: 80vh;
    top: 100%; /* Coloca el contenido debajo del menú */
    filter: drop-shadow(0 0 2px rgba(187, 167, 129, 0.6));
    background-color: var(--color-background-navbar);
    z-index: 3; /* Asegura que el menú esté sobre otros elementos */
}

.menuContent ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.menuContent li {
    padding: 10px 10px; /* Agrega algo de relleno dentro de cada elemento para que se vea bien */
}

.contenedor-square{
    height: 80px;
    width: 80px;
    margin: 0;
    border-radius: 4%;
    align-items: center;
    text-align: center;
    display: inline-block;
}

.cuadrada{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 4%;
}

/* Efecto zoom al hacer hover */
.contenedor-square:hover img {
    transform: scale(3); /* Ajusta el valor para más o menos zoom */
    position: relative;
    z-index: 2;
}

.swal_popup{
    background: var(--color-background-dark);
    border-radius: 10px !important;      /* Redondea las esquinas */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1) !important; /* Agrega una sombra suave */
    padding: 20px !important;  
    color: var(--color-text-inverted);
}