@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Squada+One&display=swap');

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"]{
    font-family: "Barlow Condensed", sans-serif;
}

.login-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 100%; /* Asegura que el contenedor ocupe toda la pantalla */
    overflow: hidden;
    margin: 0;
}

.login-box {
    position: relative;
    z-index: 1; /* Asegura que esté por encima del SVG */
    width: 300px;
    padding: 20px 40px;
    background: #252525;
    border-radius: 10px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.login-box p{
    color: #ff5c5c; 
    font-size: 14px;
    font-family: 'Squada One', sans-serif;
}

.login-box2{
    width: 600px;
}

.login-box3{
    width: 800px;
}

.container_cols{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0;
    padding: 0;
}

.container_cols2{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0;
    padding: 0;
}

.columna{
    margin: 10px 20px;
}

.login-box h1 {
    color: #fff;
    font-size:50px;
}

.input-box {
    position: relative;
    margin-bottom: 30px;
    font-family: "Barlow Condensed", sans-serif;
}

.input-box small{
    color: #ff5c5c; 
    display: none; 
    padding: 4px 0; 
    justify-self: start;
    font-family: sans-serif;
}

.input-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
}

.input-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: 0.5s;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label,
.input-box input:disabled ~ label {
    top: -20px;
    font-size: 14px;
    color: #ff7d41;
    font-family: 'Squada One', sans-serif;
}

.input-box input:disabled{
    color: #797979;
}

.button-box {
    text-align: center;
}

.button-box button{
    width: 100%;
    padding: 10px;
    background: linear-gradient(to right, #666666, #494949);
    border: none;
    border-radius: 25px;
    color: #fff;
    font-size: 16px;
    font-family: 'Squada One';
    cursor: pointer;
}

.button-box button:hover{
    background: linear-gradient(to right, #ff4b2b, #ff416c);
}

.customButton {
    font-family: 'Squada One';
    color: white;
    padding: 10px;
    background-color: transparent;
    border: solid 1px white;
    border-radius: 12px;
    cursor: pointer;
    display: inline-block;
    width: 100%;
    font-size: 16px;
}

.customButtondisabled{
    font-family: 'Squada One';
    color: white;
    padding: 10px;
    background-color: transparent;
    border: solid 1px white;
    border-radius: 12px;
    cursor: pointer;
    display: inline-block;
    width: 100%;
    font-size: 16px;
}
.customButtondisabled:hover{
    background-color: #252525;
}

.customButton:hover {
    background: linear-gradient(to right, #ff416c, #b12810);
}

#customText {
    color: #fff;
    font-size: 14px;
    display: block;
    margin-top: 10px;
    width: 100%;
}

.links {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.links a {
    color: #fff;
    font-size: 16px;
    text-decoration: none;
}

.links a:hover {
    text-decoration: underline;
}

.message-container{
    display: flex;
    align-items: center;
    margin-top: -30px; /* Ajusta según lo necesites */
}

/* Contenedor para el checkbox y su etiqueta */
.checkbox-container {
    display: flex;
    align-items: center;
    margin-top: -14px; /* Ajusta según lo necesites */
    margin-bottom: 20px;
    margin-left: 20px;
    gap: 5px; /* Espacio entre el checkbox y su etiqueta */
}

/* Label para el checkbox */
.checkbox-container label {
    font-size: 14px;
    color: #ff7d41;
    margin-right: 10px;
    cursor: pointer;
}

/* Oculta el checkbox real */
.checkbox-container input[type="checkbox"] {
    display: none;
}

/* Diseño del checkbox personalizado */
.custom-checkbox {
    width: 18px;
    height: 18px;
    background-color: #080808;
    border-radius: 4px;
    border: 2px solid #7e0a0a;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
}

/* Icono del check (oculto por defecto) */
.custom-checkbox:before {
    content: "✓";
    color: #d3d3d3;
    font-size: 14px;
    display: none;
}

/* Mostrar el icono del check cuando esté seleccionado */
.checkbox-container input[type="checkbox"]:checked + .custom-checkbox:before {
    display: block;
}

/* Cambiar el fondo del checkbox cuando esté seleccionado */
.checkbox-container input[type="checkbox"]:checked + .custom-checkbox {
    border-color: #ff7d41;
}

/* CONTENEDOR DE TABLA */
.contenedor_buscador{
    margin: 20px auto;
    width: 90%;
    height: fit-content;
    overflow: auto;
    padding: 10px 30px;
    background: #252525;
    color: #b9b9b9;
    border-radius: 10px;
}

.contenedor_buscador h1 {
    color: #fff;
    font-size:50px;
    text-align: center;
}

.contenedor_tabla{
    background-color: transparent;
    padding: 20px 0;
    width: 100%;
}

.contenedor_tabla table{
    text-align: center;
    border-collapse: collapse;
    border: 0;
    width: 100%;
    table-layout: auto;
}

.contenedor_tabla th, td{
    padding: 20px 10px;
    border: 1px rgb(189, 187, 187) solid;
    font-size: 20px;
}

/* tabla carrito */
.contenedor_tabla1{
    background-color: transparent;
    margin: 0;
    padding: 20px 0px;
    width: 100%;
}

.contenedor_tabla1 table{
    text-align: center;
    border-collapse: collapse;
    border: 0;
    table-layout: fixed;
}

.contenedor_tabla1 th, td{
    padding: 20px 10px;
    border: 1px rgb(189, 187, 187) solid;
}