input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="number"]{
    font-family: "Barlow Condensed", sans-serif;
}

.prod-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 10px 0;
}

.login-box {
    position: relative;
    z-index: 1;
    width: 700px;
    padding: 20px 40px;
    background: var(--color-background-dark);
    border-radius: 10px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.login-box p {
    color: var(--color-error);
    font-size: 14px;
    font-family: 'Squada One', sans-serif;
}

.login-box h1 {
    color: var(--color-text-title);
    font-size: 50px;
    margin-top: 10px;
}

.input-box {
    position: relative;
    margin-bottom: 20px;
    font-family: "Barlow Condensed", sans-serif;
}

.input-box small{
    color: var(--color-warning); 
    display: none; 
    padding: 4px 0; 
    font-weight: bold;
    justify-self: start;
    align-content: start;
    text-align: start;
}

.input-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: var(--color-text-inverted);
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label,
.input-box input:disabled ~ label {
    top: -20px;
    font-size: 14px;
}

.input-box select:focus ~ label,
.input-box select:valid ~ label,
.input-box select:disabled ~ label {
    top: -20px;
    font-size: 14px;
}

.input-box input:disabled{
    color: #797979;
}

.input-box select:disabled{
    color: #797979;
}


.input-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: var(--color-text-title);
    pointer-events: none;
    transition: 0.5s;
    font-weight: 500;
}

.input-box input:focus ~ label,
.input-box select:focus ~ label,
.input-box input:valid ~ label,
.input-box select:valid ~ label {
    top: -20px;
    font-size: 14px;
}


/* Estilo para el select */
.input-box select {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: var(--color-text-inverted);
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    position: relative; /* Para que el label se pueda mover en relación con el select */
    transition: all 0.3s ease;
}

/* Estilo para el label */
.input-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: var(--color-text-title);
    pointer-events: none;
    transition: 0.3s ease;
    font-weight: 500;
}

.container_cols{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0;
    padding: 0;
}

.container_cols2{
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0;
    padding: 0;
}

.columna-dos-columnas {
    grid-column: span 2; /* Ocupa dos columnas */
}

.columna{
    margin: 0px 20px;
}

.columna-boton{
    display: flex;
    flex-direction: column;
    justify-content: space-around; /* Espaciado uniforme vertical */
    align-items: center;
}

.customButton {
    font-family: 'Squada One';
    color: var(--color-text-inverted);
    padding: 10px;
    background-color: transparent;
    border: solid 1px white;
    border-radius: 12px;
    cursor: pointer;
    display: inline-block;
    width: 100%;
    font-size: 16px;
}

.customButtondisabled{
    font-family: 'Squada One';
    padding: 10px;
    background-color: transparent;
    border: solid 1px #797979;
    color: #797979;
    border-radius: 12px;
    cursor: pointer;
    display: inline-block;
    width: 100%;
    font-size: 16px;
}

.customButtondisabled:hover{
    background-color: var(--color-background-dark);
}

.customButton:hover {
    background: var(--color-background-light);
    color: var(--color-text-primary);
}

#customText {
    color: var(--color-text-title);
    font-size: 14px;
    display: block;
    margin-top: 10px;
    width: 100%;
}

/* Contenedor para el checkbox y su etiqueta */
.checkbox-container {
    display: flex;
    align-items: center;
    gap: 5px; /* Espacio entre el checkbox y su etiqueta */
}

/* Label para el checkbox */
.checkbox-container label {
    font-size: 14px;
    color: var(--color-text-title);
    margin-right: 10px;
    cursor: pointer;
    font-family: "Barlow Condensed", sans-serif;
}

/* Oculta el checkbox real */
.checkbox-container input[type="checkbox"] {
    display: none;
}

/* Diseño del checkbox personalizado */
.custom-checkbox {
    width: 18px;
    height: 18px;
    background-color: #080808;
    border-radius: 4px;
    border: 2px solid #7e0a0a;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
}

/* Icono del check (oculto por defecto) */
.custom-checkbox:before {
    content: "✓";
    color: #d3d3d3;
    font-size: 14px;
    display: none;
}

/* Mostrar el icono del check cuando esté seleccionado */
.checkbox-container input[type="checkbox"]:checked + .custom-checkbox:before {
    display: block;
}

/* Cambiar el fondo del checkbox cuando esté seleccionado */
.checkbox-container input[type="checkbox"]:checked + .custom-checkbox {
    border-color: #ff7d41;
}