<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="static/images/logosmall.ico">
    <title>R&R REPORTS</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylemain.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='buttons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style_informe_admin.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='sweetalert2.min.css') }}">
    <script src="{{ url_for('static', filename='sweetalert2.min.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- jQuery UI -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
</head>
<body>

    <div class="wrapper-main">
        <!-- Footer -->
        {% include "shared/navbar.html" %}
        <!-- Footer -->

        <script>
            {% with messages = get_flashed_messages(with_categories=True) %}
                {% if messages %}
                    {% for category, message in messages %}
                        Swal.fire({
                            icon: "{{ 'success' if category == 'success' else 'error' }}", // Cambiar icono según categoría
                            title: "{{ message }}",
                            timer: 3000, 
                            showConfirmButton: false
                        });
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </script>

        <main class="reports-main-container">
            <div class="title-container">
                <h1 class="title">CONSULT REPORTS</h1>
            </div>
            <div class="reports-container">
                
                <form action="/consulta_informes" method="get" class="filter-form">
                    <div class="filtros">
                        <h2>Filters: </h2>
                        <div class="group">
                            <input type="text" id="id_empleado" name="id_empleado" class="input_search" placeholder="Employee ID">
                        </div>
                        
                        <div class="group">
                            <select id="mes" name="mes" class="input_search">
                                <option value="" {% if filtros.mes == '' %}selected{% endif %}>Month</option>
                                <option value="01" {% if filtros.mes == '01' %}selected{% endif %}>January</option>
                                <option value="02" {% if filtros.mes == '02' %}selected{% endif %}>February</option>
                                <option value="03" {% if filtros.mes == '03' %}selected{% endif %}>March</option>
                                <option value="04" {% if filtros.mes == '04' %}selected{% endif %}>April</option>
                                <option value="05" {% if filtros.mes == '05' %}selected{% endif %}>May</option>
                                <option value="06" {% if filtros.mes == '06' %}selected{% endif %}>June</option>
                                <option value="07" {% if filtros.mes == '07' %}selected{% endif %}>July</option>
                                <option value="08" {% if filtros.mes == '08' %}selected{% endif %}>August</option>
                                <option value="09" {% if filtros.mes == '09' %}selected{% endif %}>September</option>
                                <option value="10" {% if filtros.mes == '10' %}selected{% endif %}>October</option>
                                <option value="11" {% if filtros.mes == '11' %}selected{% endif %}>November</option>
                                <option value="12" {% if filtros.mes == '12' %}selected{% endif %}>December</option>
                            </select>
                        </div>
                        
                        <div class="group">
                            <input type="number" class="input_search" id="año" name="año" min="2024" max="2025" value="{{ filtros.año }}" placeholder="Año">
                        </div>
                        
                        <div class="group">
                            <button type="submit" class="productos">Apply</button>
                        </div>

                        <div class="group">
                            <button type="button" onclick="reload()" class="productos">Clear</button>
                        </div>
                    </div>
                </form>
                
                <ul class="report-list">
                    {% if all_files %}
                        {% for employee_name, files in all_files.items() %}
                            <h3>Reportes de <span id="employee_name">{{ employee_name }}</span></h3>
                            <ul>
                                {% for file in files %}
                                    {% set parts = file.split('_') %}
                                    {% set id_empleado = parts[1] %}
                                    {% set fecha = parts[2].replace('.pdf', '') %}
                                    {% set year, month = fecha.split('-') %}
                                    {% set meses = ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'] %}
                                    {% set mes_formateado = meses[month|int - 1] %}
                                    {% set nombre_formateado = "Reporte mensual de " ~ mes_formateado ~ " " ~ year ~ " (" ~ id_empleado ~ ")" %}
                                    
                                    <li>
                                        <span>{{ nombre_formateado }}</span>
                                        <button onclick="descargarArchivo('{{ url_for('reports.download_report', filename=file) }}')" class="loading">Download</button>
                                        <button onclick="verificarFirma('{{ file }}')" class="loading">Verify Signature</button>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endfor %}
                    {% else %}
                        <p>No hay reportes disponibles.</p>
                    {% endif %}
                    <!-- <button onclick="redireccion('/generar_informe')">New Report</button> -->
                </ul>
            </div>
        </main>
        
        <!-- Footer -->
        {% include "shared/footer.html" %}
        <!-- Footer -->
    </div>

    <script>
        const employees_ids = {{employees_ids | tojson}};

        $(function() {
            $("#id_empleado").autocomplete({
                source: employees_ids, // Lista de IDs
                minLength: 1,         // Mínimo de caracteres antes de sugerir
                autoFocus: true       // Autofoco en la primera sugerencia
            });
        });

        function descargarArchivo(url) {
            window.location.href = url;
        }

        function reload(){
            location.reload();
        }

        document.querySelector('.filter-form').addEventListener('submit', async function(e) {
            e.preventDefault();

            const idEmpleado = document.querySelector('#id_empleado').value.trim();
            const mes = document.querySelector('#mes').value.trim();
            const año = document.querySelector('#año').value.trim();

            // Verificar si todos los campos están vacíos
            if (!idEmpleado && !mes && !año) {
                Swal.fire({
                    icon: 'info',
                    title: 'Sin filtros',
                    text: 'Por favor selecciona al menos un filtro antes de aplicar.',
                    timer: 3000,
                    showConfirmButton: false
                });
                return; // No hacer nada si no hay filtros seleccionados
            }

            const formData = new FormData(this);
            const queryString = new URLSearchParams(formData).toString();
            const response = await fetch(`/reports?${queryString}`);
            const archivos = await response.json();

            // Definir nombres de los meses
            const meses = [
                "Enero", "Febrero", "Marzo", "Abril", "Mayo", 
                "Junio", "Julio", "Agosto", "Septiembre", 
                "Octubre", "Noviembre", "Diciembre"
            ];

            const listaReportes = document.querySelector('.report-list');
            if (archivos.length > 0) {
                listaReportes.innerHTML = archivos.map(archivo => {
                    const partes = archivo.split('_');
                    const idEmpleado = partes[1];
                    const [year, month] = partes[2].replace('.pdf', '').split('-');
                    const mesFormateado = meses[parseInt(month, 10) - 1];
                    const nombreFormateado = `Reporte mensual de ${mesFormateado} ${year} (${idEmpleado})`;

                    return `
                        <li>
                            <span>${nombreFormateado}</span>
                            <button onclick="descargarArchivo('download_report/${archivo}')" class="loading">Download</button>
                            <button onclick="verificarFirma('${archivo}')" class="loading">Verify Signature</button>
                        </li>
                    `;
                }).join('');
            } else {
                listaReportes.innerHTML = '<p>No hay reportes disponibles.</p>';
            }
        });

        async function verificarFirma(filename) {
            try {
                const response = await fetch(`/verificar_firma_de_archivo/${filename}`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    }
                });

                if (response.ok) {
                    const data = await response.json();
                    Swal.fire({
                        icon: 'success',
                        title: 'Firma Verificada',
                        text: `El archivo ${filename} tiene una firma válida.`,
                        timer: 3000,
                        showConfirmButton: false
                    });
                } else {
                    const error = await response.json();
                    Swal.fire({
                        icon: 'error',
                        title: 'Error al Verificar',
                        text: error.message || 'No se pudo verificar la firma.',
                        timer: 3000,
                        showConfirmButton: false
                    });
                }
            } catch (err) {
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: 'Ocurrió un error al intentar verificar la firma.',
                    timer: 3000,
                    showConfirmButton: false
                });
            }
        }
    </script>    
    <script src="static/app.js" ></script>
</body>
</html>
