<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="static/images/logosmall.ico">
    <title>R&R PRODUCTS</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylemain.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='buttons.css') }}">
</head>
<body>

    <!-- NAVBAR -->
    {% include "shared/navbar.html" %}
    <!-- NAVBAR -->
    <!-- EMPIEZA CONTENIDO DE PÁGINA -->
    <div class="contenedor_buscador">
        <h1>PRODUCTS</h1>
        <!-- BUSCADOR Y FILTROS -->
        {% include "shared/buscador.html" %}
        <!-- BUSCADOR Y FILTROS -->
        <!-- TABLA DE PRODUCTOS -->
        {% include "shared/tablaproductos.html" %}
        <!-- FIN TABLA DE PRODUCTOS -->
        <div style="display: flex; gap: 30px; text-align: center; justify-content: center; padding: 20px 0;">
            <div style="width: 30%;">
              <button id="btn_subir" class="loading cancel_btn" type="button" onclick="volverArriba()">↑ Back to up</button>
            </div>
        </div>
    </div>
     <!-- TERMINA CONTENIDO DE PÁGINA -->
    <!-- Footer -->
    {% include "shared/footer.html" %}
    <!-- Footer -->
    <script src="{{ url_for('static', filename='ventas.js') }}" ></script>
    <script src="{{ url_for('static', filename='app.js') }}" ></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
</html>
