<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="static/images/logosmall.ico">
    <title>R&R REPORTS</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylemain.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='buttons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style_informe_admin.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='sweetalert2.min.css') }}">
    <script src="{{ url_for('static', filename='sweetalert2.min.js') }}"></script>
    <style>
        .loading{
            margin: 5px 15px;
        }
    </style>
</head>
<body>
    <div class="warpper-main">
        {% include "shared/navbar.html" %}
        <main class="reports-main-container">
            <div class="title-container">
                <h1 class="title">CONSULT REPORTS</h1>
            </div>
            <div class="reports-container">
                <script>
                    window.onbeforeunload = function() {
                        // Limpiar los campos del formulario
                        const form = document.getElementById('filtros-informes');
                        if (form) {
                            form.reset(); // Restablece todos los campos del formulario
                        }
                    };
                </script>
                <form action="/consulta_informes" method="get" class="filter-form" id="filtros-informes">
                    <div class="filtros">
                        <h2>Filters: </h2>
                        <input type="text" id="id_empleado" name="id_empleado" value="{{status}}" hidden>
                        <div class="group">
                            <select id="mes" name="mes" class="input_search">
                                <option value="" {% if filtros.mes == '' %}selected{% endif %}>Month</option>
                                <option value="01" {% if filtros.mes == '01' %}selected{% endif %}>January</option>
                                <option value="02" {% if filtros.mes == '02' %}selected{% endif %}>February</option>
                                <option value="03" {% if filtros.mes == '03' %}selected{% endif %}>March</option>
                                <option value="04" {% if filtros.mes == '04' %}selected{% endif %}>April</option>
                                <option value="05" {% if filtros.mes == '05' %}selected{% endif %}>May</option>
                                <option value="06" {% if filtros.mes == '06' %}selected{% endif %}>June</option>
                                <option value="07" {% if filtros.mes == '07' %}selected{% endif %}>July</option>
                                <option value="08" {% if filtros.mes == '08' %}selected{% endif %}>August</option>
                                <option value="09" {% if filtros.mes == '09' %}selected{% endif %}>September</option>
                                <option value="10" {% if filtros.mes == '10' %}selected{% endif %}>October</option>
                                <option value="11" {% if filtros.mes == '11' %}selected{% endif %}>November</option>
                                <option value="12" {% if filtros.mes == '12' %}selected{% endif %}>December</option>
                            </select>
                        </div>
                        
                        <div class="group">
                            <input type="number" class="input_search" id="año" name="año" min="2024" max="2025" value="{{ filtros.año }}" placeholder="Year">
                        </div>
                        
                        <div class="group">
                            <button type="submit" class="productos">Apply</button>
                        </div>

                        <div class="group">
                            <button type="button" onclick="reload()" class="productos">Clear</button>
                        </div>

                        <div class="group">
                            <button type="button" onclick="redireccion('/generar_informe')" class="productos" style="width: 120px;">New Report</button>
                        </div>
                    </div>
                </form>
                <br><br>
                <ul class="report-list">
                    {% if files %}
                            <h3>Reports of <span id="employee_name">{{employee.nombre_completo()}}</span></h3>
                            <ul>
                                {% for file in files %}
                                    {% set parts = file.split('_') %}
                                    {% set id_empleado = parts[1] %}
                                    {% set fecha = parts[2].replace('.pdf', '') %}
                                    {% set year, month = fecha.split('-') %}
                                    {% set meses = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'] %}
                                    {% set mes_formateado = meses[month|int - 1] %}
                                    {% set nombre_formateado = "Monthly report of " ~ mes_formateado ~ " " ~ year ~ " "%}
                                    
                                    <li>
                                        <span>{{ nombre_formateado }}</span>
                                        <button onclick="solicita_permiso('{{file}}')" class="loadingrport">Download</button>
                                    </li><br><br>
                                {% endfor %}
                            </ul>
                    {% else %}
                        <p style="color: var(--color-warning);">No reports available.</p>
                    {% endif %}
                    <!-- <button onclick="redireccion('/generar_informe')">New Report</button> -->
                </ul>
            </div>
        </main>
        {% include "shared/footer.html" %}
    </div>
    <script>
        document.querySelector('.filter-form').addEventListener('submit', async function(e) {
            e.preventDefault();

            const idEmpleado = document.querySelector('#id_empleado').value.trim();
            const mes = document.querySelector('#mes').value.trim();
            const año = document.querySelector('#año').value.trim();

            // Verificar si todos los campos están vacíos
            if (!mes && !año) {
                Swal.fire({
                    icon: 'info',
                    title: 'No filters',
                    text: 'Please select at least one filter before applying.',
                    timer: 3000,
                    showConfirmButton: false,
                    customClass: {
                        confirmButton: 'loading send_btn', // Clase personalizada para el botón de Confirmar
                        cancelButton: 'loading cancel_btn', // Clase personalizada para el botón de Cancelar
                        actions: 'button-actions',// Clase personalizada para el contenedor de botones
                        popup: 'swal_popup'
                    },
                });
                return; // No hacer nada si no hay filtros seleccionados
            }

            const formData = new FormData(this);
            const queryString = new URLSearchParams(formData).toString();
            const response = await fetch(`/reports?${queryString}`);
            const archivos = await response.json();

            // Definir nombres de los meses
            const meses = [
                "January", "February", "March", "April", "May",
                "June", "July", "August", "September",
                "October", "November", "December"
            ];
            const listaReportes = document.querySelector('.report-list');
            if (archivos.length > 0) {
                // Generar contenido dinámicamente para cada reporte
                // Ordenar los archivos por fecha en orden descendente
                archivos.sort((a, b) => {
                    const fechaA = a.archivo.split('_')[2].replace('.pdf', ''); // Extraer la fecha como "YYYY-MM"
                    const fechaB = b.archivo.split('_')[2].replace('.pdf', ''); // Extraer la fecha como "YYYY-MM"

                    // Comparar fechas (a primero para orden ascendente)
                    return fechaA.localeCompare(fechaB);
                });
                const employeeName = archivos[0].nombre_completo;

                // Crear el encabezado y la lista
                let contenidoHTML = `
                    <h3>Reports of <span id="employee_name">${employeeName}</span></h3>
                    <ul>
                `;

                // Generar los elementos <li> para cada reporte
                contenidoHTML += archivos.map(archivoObj => {
                    const { archivo } = archivoObj; // Extraer el nombre del archivo
                    const partes = archivo.split('_'); // Dividir el nombre del archivo
                    const [year, month] = partes[2].replace('.pdf', '').split('-'); // Extraer año y mes
                    const mesFormateado = meses[parseInt(month, 10) - 1]; // Formatear el mes
                    const nombreFormateado = `Monthly report of ${mesFormateado} ${year}`;

                    return `
                        <li>
                            <span>${nombreFormateado}</span>
                            <button onclick="solicita_permiso('${archivo}')" class="loadingrport">Download</button>
                        </li><br><br>
                    `;
                }).join('');

                // Cerrar la lista <ul>
                contenidoHTML += '</ul>';

                // Insertar el contenido generado en el contenedor
                listaReportes.innerHTML = contenidoHTML;
            } else {
                listaReportes.innerHTML = '<p style="color: var(--color-warning);">No reports available.</p>';
            }
        });
    </script>
    <script src="static/app.js" ></script>
    <script src="static/consulta_informe.js"></script>
</body>
</html>
