<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="static/images/logosmall.ico">
    <title>R&R SALES</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylemain.css') }}">
</head>
<body>

    <!-- NAVBAR -->
    {% include "shared/navbar.html" %}
    <!-- NAVBAR -->
     <!-- EMPIEZA CONTENIDO DE PÁGINA -->
    <h1>CONSULTA VENTAS</h1>
    {% if transacciones %}
        <table>
            <thead>
                <tr>
                    {% if status == 'admin' %}
                        <th>Empleado ID</th>
                    {% endif %}
                    <th>Fecha</th>
                    <th>Monto</th>
                    <th>Cliente ID</th>
                    <th>Client Name</th>
                    <th>Card Number</th>
                </tr>
            </thead>
            <tbody>
                {% for transaccion in transacciones %}
                <tr>
                    {% if status == 'admin' %}
                        <td>{{ transaccion.empleado_id }}</td>
                    {% endif %}
                    <td>{{ transaccion.fecha }}</td>
                    <td>{{ transaccion.monto }}</td>
                    <td>{{transaccion.cliente_id}}</td>
                    <td>{{ transaccion.cliente.nombre + ' ' + transaccion.cliente.apellido}}</td>
                    {% if status == 'admin' %}
                        <td>{{ transaccion.tarjeta.numero_tarjeta }}</td>
                    {% else %}
                        <td>****************</td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% elif status != 'admin' %}
        <p>No has realizado ventas aún.</p>
    {% else %}
        <p>Ningún empleado ha realizado transacciones aún.</p>
    {% endif %}
    {% if status != admin %}
        <button onclick="redireccion('/registra_venta')">New Sale</button>
    {% endif %}
     <!-- TERMINA CONTENIDO DE PÁGINA -->
    <!-- Footer -->
    {% include "shared/footer.html" %}
    <!-- Footer -->
    <script src="static/app.js" ></script>
</body>
</html>
