<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="static/images/logosmall.ico">
    <title>R&R EMPLOYEES</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylemain.css') }}">
</head>
<body>
    <div class="wrapper-main">
        <!-- Footer -->
        {% include "shared/navbar.html" %}
        <!-- Footer -->
        <main>
            <!-- EMPIEZA CONTENIDO DE PÁGINA -->
            <h1>CONSULTA EMPLEADOS</h1>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Cargo</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for empleado in empleados %}
                        <tr>
                            <td>{{ empleado.id }}</td>
                            <td>{{ empleado.nombre }}</td>
                            <td>{{empleado.apellido }}</td>
                            <td>{{ empleado.cargo }}</td>
                            <td><a href="{{ url_for('users.edit_user', id=empleado.id)}}"><img src="static/images/edit.svg" style="height: 30px;"></a></td>
                            <td><a href="#"><img src="static/images/delete.svg" style="height: 30px;"></a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <!-- TERMINA CONTENIDO DE PÁGINA -->
        </main>
        <!-- Footer -->
        {% include "shared/footer.html" %}
        <!-- Footer -->
    </div>
</body>
</html>
