<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="static/images/logosmall.ico">
    <title>R&R PRODUCTS</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylemain.css') }}">
</head>
<body>

    <!-- NAVBAR -->
    {% include "shared/navbar.html" %}
    <!-- NAVBAR -->
     <!-- EMPIEZA CONTENIDO DE PÁGINA -->

    <h1>CONSULTA PRODUCTOS</h1>
    <a href="/crear_producto">Crear producto nuevo</a>
    <table>
        <thead>
            <tr>
                <th>Imagen</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Type</th>
                <!-- <th>Talla</th> -->
                <th>Color</th>
                <!-- <th>Stock</th> -->
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for producto in productos %}
                <tr>
                    <td><div class="contenedor-square"><img src="static/images/products/{{producto.archivo}}" class="cuadrada"></div></td>
                    <td>{{ producto.nombre }}</td>
                    <td>${{ producto.precio }}</td>
                    <td>{{ producto.categoria }}</td>
                    <td>{{ producto.color }}</td>
                        <!-- {% for variante in producto.variantes %}
                            <td>{{ variante.talla }}</td>
                            <td>{{ producto.color }}</td>
                            <td>{{ variante.stock }}</td>
                        {% endfor %} -->
                    <td><a href="/editar_producto/{{producto.id}}"><img src="static/images/edit.svg" style="height: 30px;"></a></td>
                    <td><a href="/eliminar_producto/{{producto.id}}"><img src="static/images/delete.svg" style="height: 30px;"></a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

     <!-- TERMINA CONTENIDO DE PÁGINA -->
    <!-- Footer -->
    {% include "shared/footer.html" %}
    <!-- Footer -->
</body>
</html>
