<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="static/images/logosmall.ico">
    <title>R&R PRODUCTS</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylemain.css') }}">
</head>
<body>

    <!-- Footer -->
    {% include "shared/navbar.html" %}
    <!-- Footer -->
     <!-- EMPIEZA CONTENIDO DE PÁGINA -->
      <h1>CONSULTA PRODUCTOS</h1>
     <!-- TERMINA CONTENIDO DE PÁGINA -->
    <!-- Footer -->
    {% include "shared/footer.html" %}
    <!-- Footer -->
</body>
</html>
