<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="static/images/logosmall.ico">
    <title>R&R REPORTS</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylemain.css') }}">
</head>
<body>
    <div class="warpper">
        <!-- Footer -->
        {% include "shared/navbar.html" %}
        <!-- Footer -->
        <main>
            <!-- EMPIEZA CONTENIDO DE PÁGINA -->
        <h1>CONSULTA INFORMES</h1>
        <ul>
            {% if files %}
                {% for file in files %}
                    <li>
                        <a href="{{ url_for('reports.download_report', filename=file) }}" download>{{ file }}</a>
                    </li>
                {% endfor %}
            {% else %}
                <p>No hay reportes disponibles.</p>
            {% endif %}
            <button onclick="redireccion('/generar_informe')">New Report</button>
        </ul>
        <!-- TERMINA CONTENIDO DE PÁGINA -->
        </main>
        <!-- Footer -->
        {% include "shared/footer.html" %}
        <!-- Footer -->
    </div>
    
    <script src="static/app.js" ></script>
</body>
</html>
