<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="static/images/logosmall.ico">
    <title>R&R</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylemain.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

    <div class="navbar">
        <div class="nav-left">
            <span>&nbsp;</span>
            <img src="static/images/logo.png" style="height: 50px;">
        </div>
        
        <div class="nav-logo">
        </div>
    
        <!-- Enlaces del lado derecho -->
        <div class="nav-right">
            <span>&nbsp;</span>
        </div>
    </div>
    

    <div class="container">
        <div class="login-container">
            <div class="login-box">
                <h1 style="margin-bottom: 0;">Private Key</h1>
                {% if status == 'admin' %}
                    <p style="margin-top: 10px; font-size: 16px">Important Notice: <span style="color: beige; font-family: sans-serif; font-size: 14px;"> This private key is essential for accessing secure parts of the system. Please be aware that once this page is closed, there is no backup available for the key, as per security protocols. Losing this key would jeopardize the entire system's security. To prevent any risks, it is strongly recommended to download and securely store this key on an external USB drive.</span> </p>
                {% else %}
                    <p style="margin-top: 10px; font-size: 16px">Important Notice: <span style="color: beige; font-family: sans-serif; font-size: 14px;">Please be aware that once you close this page, your private key cannot be recovered. In the event that you misplace your key, you'll need to contact the store manager for assistance in generating a new one. To ensure the safe storage of your key, we highly recommend having a USB drive ready for the download.</span> </p>
                {% endif %}
                <div class="input-box">
                    <button type="button" id="customButton" class="customButton" onclick='redireccion("/descargar_clave")'>Download Key</button>
                </div>
                <form method="post" action="{{url_for('login.confirmar_descarga')}}">
                    <div class="button-box">
                        <button type="submit" id="customButton" class="customButton">Done!</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Footer -->
     {% include "shared/footer.html" %}
    <!-- Footer -->
    <script src="static/app.js" ></script>
</body>
</html>
