<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='images/logosmall.ico') }}">
    <title>R&R EDIT USER</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylemain.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='sweetalert2.min.css') }}">
</head>
<body>
    {% if status != usuario.id and status != 'admin' %}
      <script>
        // Ejecuta el Sweet Alert al cargar la página
        document.addEventListener('DOMContentLoaded', () => {
            showAdminAlert('administrator')
            // Espera 3 segundos antes de redirigir
            setTimeout(() => {
                redireccion('/');
            }, 3000); // 3000 milisegundos = 3 segundos
        });
      </script>
    {% endif %} 
    <div class="wrapper-main">
        <!-- NAVBAR -->
        {% include "shared/navbar.html" %}
        <!-- NAVBAR -->
        <main>
            <script>
                window.onbeforeunload = function() {
                    // Limpiar los campos del formulario
                    const form = document.getElementById('editform');
                    if (form) {
                        form.reset(); // Restablece todos los campos del formulario
                    }
                };
            </script>
            <div class="login-container">
                <div class="login-box login-box3">
                    <h1>Edit User</h1><br>
                    <form id="editform" method="post" action="{{ url_for('users.editar_empleado') }}">
                        <div id="columnas" class="container_cols">
                            <div class="columna">
                                <div class="input-box">
                                    <input id="id" type="text" name="id" value="{{usuario.id}}" disabled>
                                    <label for="id">Employee ID</label>
                                </div>
                                <div class="input-box">
                                    <input type="text" name="name" value="{{usuario.nombre}}" required oninput="validarLetras(this), this.setCustomValidity('')" title="Enter your name" oninvalid="this.setCustomValidity('Please enter your name')">
                                    <label for="name">Name</label>
                                </div>
                                <div class="input-box">
                                    <input type="text" name="lstname" value="{{usuario.apellido}}" required oninput="validarLetras(this), this.setCustomValidity('')" title="Enter your last name" oninvalid="this.setCustomValidity('Please enter your last name')">
                                    <label for="lstname">Last name</label>
                                </div>
                            </div>
                            <div class="columna">
                                <div class="input-box">
                                    <input id="number" type="text" name="number" value="{{usuario.phone}}" required maxlength="10" minlength="8" oninput="validarNumeros(this), validarTelefono(this)" title="Enter your phone number" oninput="this.setCustomValidity('')" oninvalid="this.setCustomValidity('Please enter your phone number')">
                                    <label for="number">Phone Number</label>
                                    <small id="message1"></small>
                                </div>
                                <div class="input-box">
                                    <input type="text" id='email' name="email" value="{{usuario.email}}" required oninput="validarCorreo(this)" title="Enter your email" oninvalid="this.setCustomValidity('Please enter your email')">
                                    <label for="email">Email</label>
                                    <small id="message"></small>
                                </div>
                                <div class="input-box" id="div_password">
                                    <input id="password" type="password" name="password" onclick="ocultaError()" require autocomplete="off" title="Enter your password" oninput="this.setCustomValidity('')" oninvalid="this.setCustomValidity('Please enter your password')">
                                    <label for="password">Confirm Changes (Password)</label>
                                </div>
                            </div>
                            <div class="columna" id="columna-edit" style="display: none;">
                                <div class="input-box">
                                    <input id="newpassword" type="password" name="newpassword" disabled required oninput="validatePasswords(), this.setCustomValidity('')" autocomplete="off" oninvalid="this.setCustomValidity('Please enter your new password')" onclick="ocultaError()">
                                    <label for="newpassword">New Password</label>
                                </div>
                                <div class="input-box">
                                    <input id="newpassword2" type="password" name="newpassword2" disabled required oninput="validatePasswords(), this.setCustomValidity('')" autocomplete="off" oninvalid="this.setCustomValidity('Please confirm your new password')" onclick="ocultaError()">
                                    <label for="newpassword2">Confirm New Password</label>
                                    <small id="password-match-message"></small>
                                </div>
                            </div>
                                {% if solicitud == 'personal' %}
                                    <div class="checkbox-container">
                                        <label for="editpassword">Edit password?</label>
                                        <input id="editpassword" type="checkbox" onclick="edit_password()">
                                        <div class="custom-checkbox" onclick="togglecheckBox('editpassword'), edit_password(), ocultaError()"></div>
                                    </div>
                                {% endif %}
                        </div>
                        <!-- Mensaje de error -->
                        <p id="error_message"></p>
                        <div class="button-box" style="display: flex; gap: 20px;">
                            <button type="submit">Upload Changes</button>
                            <button onclick="redireccion('/consulta_empleado')">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </main>
        

        <!-- Footer -->
        {% include "shared/footer.html" %}
        <!-- Footer -->
    </div>
    
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            manejarEnvioFormulario('editform', '/editar_empleado'); // Llama a la función con el ID del formulario
        });
    </script>
    <script src="{{ url_for('static', filename='ventas.js') }}" ></script>
    <script src="{{ url_for('static', filename='app.js') }}" ></script>
    <script src="{{ url_for('static', filename='validations.js') }}" ></script>
    <script src="{{ url_for('static', filename='sweetalert2.min.js') }}"></script>
</body>
</html>


