<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="static/images/logosmall.ico">
    <title>R&R REPORT</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylemain.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='buttons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style_generar_informe.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='sweetalert2.min.css') }}">
</head>
<body>
    {% if status == 'admin' %}
      <script>
        // Ejecuta el Sweet Alert al cargar la página
        document.addEventListener('DOMContentLoaded', () => {
            showAdminAlert()
            // Espera 3 segundos antes de redirigir
            setTimeout(() => {
                redireccion('/');
            }, 3000); // 3000 milisegundos = 3 segundos
        });
      </script>
    {% endif %} 
    <div class="wrapper-main">
        <!-- Navbar -->
        {% include "shared/navbar.html" %}
        <!-- Navbar -->

        <main>
            <div class="login-container">
                <div class="login-box">
                    <h1 class="page-title">Generate Report</h1><br>
                    <!-- Form -->
                    <div class="form-container">
                        <form id="reporte-form" action="{{ url_for('reports.generar_informe') }}" method="POST" class="styled-form" novalidate>
                            
                            <div class="input-box">
                                
                                <select id="year" name="year" required 
                                oninvalid="event.preventDefault();" 
                                oninput="this.setCustomValidity('')">
                                    <option value="" disabled selected></option>
                                    {% for y in range(2024, 2025) %}
                                    <option value="{{ y }}">{{ y }}</option>
                                    {% endfor %}
                                </select>
                                <label for="year">Select Year:</label>
                            </div>

                            <div class="input-box">
                                <select id="month" name="month"required 
                                oninvalid="event.preventDefault();" 
                                oninput="this.setCustomValidity('')">
                                    <option value="" disabled selected></option>
                                    <option value="1">January</option>
                                    <option value="2">February</option>
                                    <option value="3">March</option>
                                    <option value="4">April</option>
                                    <option value="5">May</option>
                                    <option value="6">June</option>
                                    <option value="7">July</option>
                                    <option value="8">August</option>
                                    <option value="9">September</option>
                                    <option value="10">October</option>
                                    <option value="11">November</option>
                                    <option value="12">December</option>
                                </select>
                                <label for="month">Select Month:</label>
                            </div>

                            <div class="input-box">
                                <input 
                                    type="password" 
                                    id="password" 
                                    name="password" 
                                    required 
                                    oninvalid="event.preventDefault();" 
                                    oninput="this.setCustomValidity('')"
                                    onclick="ocultaError()" 
                                    title="Enter your password" 
                                    oninput="this.setCustomValidity('')" 
                                    oninvalid="this.setCustomValidity('Please enter your password')"
                                >
                                <label for="password">Password:</label>
                            </div>

                            <!-- Error message -->
                            <p id="error_message" class="error-message"></p>
                            
                            <div class="button-box" style="display: flex; gap: 20px;">
                                <button type="submit" class="primary-button">Generate Report</button>
                                <button onclick="redireccion('/consulta_informes')" class="secondary-button">Generated Reports</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </main>

        <!-- Footer -->
        {% include "shared/footer.html" %}
        <!-- Footer -->
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const form = document.getElementById('reporte-form');
            const submitButton = form.querySelector('button[type="submit"]');
            const originalText = submitButton.innerText; // Guarda el texto original del botón

            form.addEventListener('submit', async function(event) {
                event.preventDefault(); // Evitar el envío tradicional del formulario

                const formData = new FormData(form);

                const year = document.getElementById('year').value;
                const month = document.getElementById('month').value;
                const password = document.getElementById('password').value;

                if (!year) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Missing Field',
                        text: 'Please select a year.',
                        timer: 3000,
                        showConfirmButton: false,
                        customClass: {
                            confirmButton: 'loading send_btn', // Clase personalizada para el botón de Confirmar
                            cancelButton: 'loading cancel_btn', // Clase personalizada para el botón de Cancelar
                            actions: 'button-actions',// Clase personalizada para el contenedor de botones
                            popup: 'swal_popup'
                        },
                    });
                    return;
                }
                else if (!month) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Missing Field',
                        text: 'Please select a month.',
                        timer: 3000,
                        showConfirmButton: false,
                        customClass: {
                            confirmButton: 'loading send_btn', // Clase personalizada para el botón de Confirmar
                            cancelButton: 'loading cancel_btn', // Clase personalizada para el botón de Cancelar
                            actions: 'button-actions',// Clase personalizada para el contenedor de botones
                            popup: 'swal_popup'
                        },
                    });
                    return;
                }
                else if (!password) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Missing Field',
                        text: 'Please enter your password.',
                        timer: 3000,
                        showConfirmButton: false,
                        customClass: {
                            confirmButton: 'loading send_btn', // Clase personalizada para el botón de Confirmar
                            cancelButton: 'loading cancel_btn', // Clase personalizada para el botón de Cancelar
                            actions: 'button-actions',// Clase personalizada para el contenedor de botones
                            popup: 'swal_popup'
                        },
                    });
                    return;
                }

                // Cambia el texto del botón y lo desactiva
                submitButton.innerText = 'Loading...';
                submitButton.disabled = true;

                try {
                    const response = await fetch(form.action, {
                        method: 'POST',
                        body: formData
                    });
                    
                    let result = null;
                    if (response.status !== 204) { // Verifica si hay contenido
                        result = await response.json();
                    }
                    if (response.ok) {
                        // Restaura el botón al estado original
                        submitButton.innerText = originalText;
                        submitButton.disabled = false;
                        Swal.fire({
                            icon: 'success',
                            title: 'Success',
                            text: result?.message || 'Report generated successfully.',
                            timer: 3000,
                            showConfirmButton: false,
                            customClass: {
                                confirmButton: 'loading send_btn', // Clase personalizada para el botón de Confirmar
                                cancelButton: 'loading cancel_btn', // Clase personalizada para el botón de Cancelar
                                actions: 'button-actions',// Clase personalizada para el contenedor de botones
                                popup: 'swal_popup'
                            },
                        }).then(() => {
                            if (result?.destino) {
                                window.location.href = result.destino; // Redirigir si hay destino
                            }
                        });
                    } else {
                        // Restaura el botón al estado original
                        submitButton.innerText = originalText;
                        submitButton.disabled = false;
                        Swal.fire({
                            icon: 'error',
                            title: 'Error',
                            text: result?.message || 'An error occurred.',
                            timer: 3000,
                            showConfirmButton: false,
                            customClass: {
                                confirmButton: 'loading send_btn', // Clase personalizada para el botón de Confirmar
                                cancelButton: 'loading cancel_btn', // Clase personalizada para el botón de Cancelar
                                actions: 'button-actions',// Clase personalizada para el contenedor de botones
                                popup: 'swal_popup'
                            },
                        });
                        console.log("Error recibido. --depuración")
                    }
                } catch (error) {
                    // Restaura el botón al estado original
                    submitButton.innerText = originalText;
                    submitButton.disabled = false;
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: 'An unexpected error occurred. Please try again later.',
                        timer: 3000,
                        showConfirmButton: false,
                        customClass: {
                            confirmButton: 'loading send_btn', // Clase personalizada para el botón de Confirmar
                            cancelButton: 'loading cancel_btn', // Clase personalizada para el botón de Cancelar
                            actions: 'button-actions',// Clase personalizada para el contenedor de botones
                            popup: 'swal_popup'
                        },
                    });
                    console.error('Error:', error);
                }
            });
        });
    </script>
    <script src="static/app.js"></script>
    <script src="{{ url_for('static', filename='validations.js') }}"></script>
    <script src="{{ url_for('static', filename='sweetalert2.min.js') }}"></script>
</body>
</html>