<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="static/images/logosmall.ico">
    <title>R&R REPORT</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylemain.css') }}">
</head>
<body>

    <!-- Navbar -->
    {% include "shared/navbar.html" %}
    <!-- Navbar -->

    <!-- EMPIEZA CONTENIDO DE PÁGINA -->
    <h1>GENERAR INFORME</h1>
    
    <!-- Formulario para seleccionar el mes y el año -->
    <form id="reporte-form" action="{{ url_for('generar_informe') }}" method="POST">
        <label for="year">Seleccione el Año:</label>
        <select id="year" name="year" required>
            {% for y in range(2020, 2025) %}
            <option value="{{ y }}">{{ y }}</option>
            {% endfor %}
        </select>

        <label for="month">Seleccione el Mes:</label>
        <select id="month" name="month" required>
            <option value="1">January</option>
            <option value="2">February</option>
            <option value="3">March</option>
            <option value="4">April</option>
            <option value="5">May</option>
            <option value="6">June</option>
            <option value="7">July</option>
            <option value="8">August</option>
            <option value="9">September</option>
            <option value="10">October</option>
            <option value="11">November</option>
            <option value="12">December</option>
        </select><br><br>

        <input type="password" name="password" required onclick="ocultaError()" title="Enter your password" oninput="this.setCustomValidity('')" oninvalid="this.setCustomValidity('Please enter your password')">
        <label>Password</label><br><br>
        <!-- Mensaje de error -->
        <p id="error_message"></p>
        <button type="submit">Generar Reporte</button>
    </form>
    <button onclick="redireccion('/consulta_informes')">Reportes generados</button>
    <!-- TERMINA CONTENIDO DE PÁGINA -->

    <!-- Footer -->
    {% include "shared/footer.html" %}
    <!-- Footer -->
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            manejarEnvioFormulario('reporte-form', '/generar_informe'); // Llama a la función con el ID del formulario
        });
    </script>
    <script src="static/app.js" ></script>
    <script src="{{ url_for('static', filename='validations.js') }}" ></script>
</body>
</html>
