<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="static/images/logosmall.ico">
    <title>R&R</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylemain.css') }}">
</head>
<body>

    <!-- NAVBAR -->
    {% include "shared/navbar.html" %}
    <!-- NAVBAR -->
    

    <div class="container">
        <div class="category" onclick="redireccion('/clients')">
            <div class="image-container">
                <img src="static/images/clients.jpg" alt="Clients">
                <h1>CLIENTS</h1>
            </div>
        </div>
        <div class="category" onclick="redireccion('/sales')">
            <div class="image-container">
                <img src="static/images/sales.jpg" alt="Sales">
                <h1>SALES</h1>
            </div>
        </div>
        <div class="category" onclick="redireccion('/consulta_productos')">
            <div class="image-container">
                <img src="static/images/statistics.jpg" alt="Products">
                <h1>PRODUCTS</h1>
            </div>
        </div>
    </div>

    <!-- Footer -->
     {% include "shared/footer.html" %}
    <!-- Footer -->
    <script src="static/app.js" ></script>
</body>
</html>
