<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='images/logosmall.ico') }}">
    <title>R&R SIGN IN</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylemain.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='buttons.css') }}">
</head>
<body>

    <div class="navbar">
        <div class="nav-left">
            <span>&nbsp;</span>
            <a href="{{ url_for('home') }}" id="logo"><img src="{{ url_for('static', filename='images/logo.png') }}" style="height: 40px;"></a>
        </div>
        
        <div class="nav-logo">
            <span></span>
        </div>
    
        <!-- Enlaces del lado derecho -->
        <div class="nav-right">
            <a href="{{ url_for('home') }}">HOME</a>
            <span>&nbsp;</span>
        </div>
    </div>
    <script>
        window.onbeforeunload = function() {
            // Limpiar los campos del formulario
            const form = document.getElementById('form-login');
            if (form) {
                form.reset(); // Restablece todos los campos del formulario
            }
        };
    </script>
    <div class="login-container">
        <div class="login-box">
            <h1>Sign in to R&R</h1>
            <form id="form-login" method="post" action="{{ url_for('login.login_route') }}" enctype="multipart/form-data">
                <div class="input-box">
                    <input type="text" name="id" id="id" autocomplete="username" required onclick="ocultaError()" title="Enter your ID" oninvalid="this.setCustomValidity('Please enter your ID')" oninput="this.setCustomValidity('')">
                    <label for="id">Employee ID</label>
                </div>
                <div class="input-box">
                    <input type="password" name="password" autocomplete="current-password" required onclick="ocultaError()" title="Enter your password" oninput="verificarAdmin(this)" oninvalid="this.setCustomValidity('Please enter your password')">
                    <label>Password</label>
                </div>

                <div class="input-box">
                    <input type="file" id="pemFile" accept=".pem" name="file" required hidden>
                    <button type="button" id="customButton" class="customButton" onclick="ocultaError()">Select Key File</button>
                    <span id="customText">No file selected</span>
                </div>
                <!-- Mensaje de error -->
                <p id="error_message"></p>
                <div class="button-box">
                    <button type="submit">Sign in</button>
                </div>
                <div class="links">
                    <a href="{{ url_for('login.new_user') }}">First time? Create an account</a>
                </div>
            </form>
        </div>
    </div>

    <!-- Footer -->
     {% include "shared/footer.html" %}
    <!-- Footer -->
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            manejarEnvioFormulario('form-login', '/login_route'); // Llama a la función con el ID del formulario
        });
    </script>
    <script src="{{ url_for('static', filename='app.js') }}" ></script>
    <script src="{{ url_for('static', filename='validations.js') }}" ></script>
    <script src="{{ url_for('static', filename='archivo_login.js') }}" ></script>
</body>
</html>


