<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="static/images/logosmall.ico">
    <title>R&R SALES</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylemain.css') }}">
</head>
<body>

    <!-- Navbar -->
     {% include 'shared/navbar.html' %}
    <!-- Navbar -->

     <!-- EMPIEZA CONTENIDO DE PÁGINA -->
      <h1>Sales per employee</h1>
      {% if transacciones %}
        <table>
          <thead>
              <tr>
                  <th>Fecha</th>
                  <th>Monto</th>
                  <th>Cliente ID</th>
                  <th>Client Name</th>
              </tr>
          </thead>
          <tbody>
            {% for transaccion in transacciones %}
              <tr>
                <td>{{ transaccion.fecha }}</td>
                <td>{{ transaccion.monto }}</td>
                <td>{{transaccion.cliente_id}}</td>
                <td>{{ transaccion.cliente.nombre + ' ' + transaccion.cliente.apellido}}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% else %}
        <p>No has realizado ventas aún.</p>
      {% endif %}
      <button onclick="redireccion('/registra_venta')">New Sale</button>
      <button onclick="redireccion('/consulta_venta')">Sales</button>
     <!-- TERMINA CONTENIDO DE PÁGINA -->
    
     <!-- Footer -->
     {% include'shared/footer.html' %}
    <!-- Footer -->
    <script src="static/app.js" ></script>
</body>
</html>
