<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="static/images/logosmall.ico">
    <title>R&R SALE</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylemain.css') }}">
</head>
<body>

    <!-- Navbar -->
    {% include "shared/navbar.html" %}
    <!-- Navbar -->

    <!-- EMPIEZA CONTENIDO DE PÁGINA -->
    <h1>REGISTRAR VENTA</h1>

    <!-- Campos de Búsqueda y Filtro -->
    <input type="text" id="buscador" placeholder="Buscar producto" onkeyup="aplicarFiltros()">
    <select id="filtroCategoria" onchange="aplicarFiltros()">
        <option value="">Todas las categorías</option>
        <option value="Clothing">Clothing</option>
        <option value="Accessories">Accessories</option>
        <!-- Agrega más opciones según tus categorías -->
    </select>

    <form id="ventaForm" method="post" action="/procesar_venta" onsubmit="return prepareSelectedProducts()">
        <input type="text" id="nombre" name="nombre" required>
        <label for="nombre">Name</label><br>
        
        <input type="text" id="apellido" name="apellido" required>
        <label for="apellido">Last Name</label><br>
        
        <input type="tel" id="numero" name="numero" required>
        <label for="numero">Phone Number</label><br>
        
        <input type="text" id="card" name="card" required>
        <label for="card">Card Number</label><br>
        
        <table>
            <thead>
                <tr>
                    <th>Imagen</th>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Tipo</th>
                    <th>Talla</th>
                    <th>Color</th>
                    <th>Stock</th>
                    <th>Cantidad</th>
                    <th>Seleccionar</th>
                </tr>
            </thead>
            <tbody>
                {% for producto in productos %}
                    <tr>
                        <td><div class="contenedor-square"><img src="static/images/products/{{producto.archivo}}" class="cuadrada"></div></td>
                        <td>{{ producto.nombre }}</td>
                        <td>${{ producto.precio }}</td>
                        <td>{{ producto.categoria }}</td>
                        <td>
                            {% if producto.variantes and producto.variantes|length > 1 %}
                                <select id="sel_talla_{{producto.id}}" name="talla_{{producto.id}}" onchange="actualizarStock('{{ producto.id }}')">
                                    {% for variante in producto.variantes %}
                                        <option value="{{ variante.talla }}" data-stock="{{ variante.stock }}">{{ variante.talla }}</option>
                                    {% endfor %}
                                </select>
                            {% else %}
                                <span id="span_talla_{{producto.id}}" data-stock="{{ producto.variantes[0].stock if producto.variantes else 0 }}">{{ producto.variantes[0].talla }}</span>
                            {% endif %}
                        </td>
                        <td>{{ producto.color }}</td>
                        <td>
                            <span id="stock_{{producto.id}}">{{ producto.variantes[0].stock if producto.variantes else 0 }}</span>
                        </td>
                        <td><input type="number" min="1" max="{{ producto.variantes[0].stock if producto.variantes else 0 }}" placeholder="Cantidad" id="cantidad_{{producto.id}}"></td>
                        <td><input type="checkbox" value="{{producto.id}}" class="producto-checkbox" data-cantidad="cantidad_{{producto.id}}"></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="button-box">
            <button type="submit">Ok</button>
        </div>
    </form>
    <!-- TERMINA CONTENIDO DE PÁGINA -->

    <!-- Footer -->
    {% include "shared/footer.html" %}
    <!-- Footer -->

    <script>
        function aplicarFiltros() {
            const nombre = document.getElementById("buscador").value;
            const categoria = document.getElementById("filtroCategoria").value;

            fetch(`/filtrar_productos?nombre=${nombre}&categoria=${categoria}`)
                .then(response => response.json())
                .then(data => {
                    const tbody = document.querySelector("tbody");
                    tbody.innerHTML = "";  // Limpiamos las filas existentes

                    data.productos.forEach(producto => {
                        const fila = document.createElement("tr");
                        fila.innerHTML = `
                            <td><div class="contenedor-square"><img src="static/images/products/${producto.archivo}" class="cuadrada"></div></td>
                            <td>${producto.nombre}</td>
                            <td>$${producto.precio}</td>
                            <td>${producto.categoria}</td>
                            <td>
                                ${producto.variantes.length > 1 ? 
                                    `<select id="sel_talla_${producto.id}" name="talla_${producto.id}" onchange="actualizarStock('${producto.id}')">
                                        ${producto.variantes.map(variante => 
                                            `<option value="${variante.talla}" data-stock="${variante.stock}">${variante.talla}</option>`).join('')}
                                     </select>` 
                                     : `<span id="span_talla_${producto.id}" data-stock="${producto.variantes[0].stock}">${producto.variantes[0].talla}</span>`
                                }
                            </td>
                            <td>${producto.color}</td>
                            <td><span id="stock_${producto.id}">${producto.variantes[0].stock}</span></td>
                            <td><input type="number" min="1" max="${producto.variantes[0].stock}" placeholder="Cantidad" id="cantidad_${producto.id}"></td>
                            <td><input type="checkbox" value="${producto.id}" class="producto-checkbox" data-cantidad="cantidad_${producto.id}"></td>
                        `;
                        tbody.appendChild(fila);
                    });
                })
                .catch(error => console.error("Error:", error));
        }


        function prepareSelectedProducts() {
            const checkboxes = document.querySelectorAll(".producto-checkbox");
            const seleccionados = []; // Arreglo para productos seleccionados

            // Recorrer cada checkbox para construir el arreglo seleccionados
            for (const checkbox of checkboxes) {
                if (checkbox.checked) {
                    const productoId = checkbox.value;
                    const cantidadInput = document.getElementById(checkbox.getAttribute("data-cantidad"));
                    const cantidad = parseInt(cantidadInput.value, 10);

                    // Obtener la talla según el número de variantes
                    let talla;
                    let tallaSelect = document.getElementById(`sel_talla_${productoId}`);
                    const spanStock = document.getElementById(`stock_${productoId}`);
                    if (tallaSelect) {  // Si existe el select (múltiples variantes)
                        talla = tallaSelect.value;
                    } else {  // Si no, obtener el texto de la talla fija
                        tallaSelect = document.getElementById(`span_talla_${productoId}`);
                        talla = tallaSelect.textContent;
                    }

                    // Validar que la cantidad sea mayor a 0
                    if (cantidad && cantidad > 0) {
                        seleccionados.push({ id: productoId, cantidad: cantidad, talla: talla });
                    } else {
                        alert("Por favor, ingresa una cantidad mayor a 0 para cada producto seleccionado.");
                        return false;
                    }
                }
            }

            if (seleccionados.length === 0) {
                alert("Debes seleccionar al menos un producto con una cantidad mayor a 0.");
                return false;
            }

            // Eliminar nombres de los checkboxes y campos de cantidad seleccionados para evitar su envío
            for (const checkbox of checkboxes) {
                if (checkbox.checked) {
                    checkbox.removeAttribute("name");
                    const cantidadInput = document.getElementById(checkbox.getAttribute("data-cantidad"));
                    cantidadInput.removeAttribute("name");
                }
            }

            // Remover campo oculto previo si existe para evitar duplicados
            let hiddenField = document.getElementById("hiddenSeleccionados");
            if (hiddenField) {
                hiddenField.remove();
            }

            // Crear un campo oculto para enviar el arreglo de seleccionados
            hiddenField = document.createElement("input");
            hiddenField.type = "hidden";
            hiddenField.name = "seleccionados";
            hiddenField.id = "hiddenSeleccionados";
            hiddenField.value = JSON.stringify(seleccionados); // Convertir el arreglo a JSON
            document.getElementById("ventaForm").appendChild(hiddenField);

            return true; // Permitir el envío del formulario
        }

        function actualizarStock(productoId){
            const selectTalla = document.getElementById(`sel_talla_${productoId}`);
            const spanStock = document.getElementById(`stock_${productoId}`);

            if (selectTalla) {
                const selectedOption = selectTalla.options[selectTalla.selectedIndex];
                const stock = selectedOption.getAttribute('data-stock');
                spanStock.innerText = stock;
            }
        }
    </script>
</body>
</html>
