<div style="display: flex; gap: 30px;">
    {% if consulta == "venta" %}
        <div class="group">
            <svg viewBox="0 0 24 24" aria-hidden="true" class="icon">
            <g>
                <path
                d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z"
                ></path>
            </g>
            </svg>
            <input class="input_search" id="buscador" type="search" placeholder="Search" oninput="aplicarFiltros(1, 'venta')"/>
        </div>
        <div class="wrapper1">
            <div class="option1" onclick="aplicarFiltros(1, 'venta')">
                <input checked value="" name="filtro" type="radio" class="input" />
                <div class="btn">
                <span class="span">All Categories</span>
                </div>
            </div>
            <div class="option1" onclick="aplicarFiltros(1, 'venta')">
                <input value="Clothing" name="filtro" type="radio" class="input" />
                <div class="btn">
                <span class="span">Clothing</span>
                </div>
            </div>
            <div class="option1" onclick="aplicarFiltros(1, 'venta')">
                <input value="Shoes" name="filtro" type="radio" class="input" />
                <div class="btn">
                <span class="span">Shoes</span>
                </div>
            </div>
            <div class="option1" onclick="aplicarFiltros(1, 'venta')">
                <input value="Accessories" name="filtro" type="radio" class="input" />
                <div class="btn">
                <span class="span">Accessories</span>
                </div>
            </div>
            <div class="option1" onclick="aplicarFiltros(1, 'venta')">
                <input value="best" name="filtro" type="radio" class="input" />
                <div class="btn">
                <span class="span">Best Seller</span>
                </div>
            </div>
        </div>
        <div class="group">
            <button id="btn_shproductos" class="productos" type="button" onclick="ocultarProductos(this)">Show/Hide products</button>
        </div>
        <div class="group">
            <button id="btn_shcart" class="productos active" type="button" onclick="ocultarCarrito(this)">Cart <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" stroke-linejoin="round" stroke-linecap="round" viewBox="0 0 24 24" stroke-width="2" fill="none" stroke="currentColor">
                <circle r="1" cy="21" cx="9"></circle>
                <circle r="1" cy="21" cx="20"></circle>
                <path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path>
            </svg></button>
        </div>
    {% else %}
        <div class="group">
            <svg viewBox="0 0 24 24" aria-hidden="true" class="icon">
            <g>
                <path
                d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z"
                ></path>
            </g>
            </svg>
            <input class="input_search" id="buscador" type="search" placeholder="Search" oninput="aplicarFiltros(1, 'producto')"/>
        </div>
        <div class="wrapper1">
            <div class="option1" onclick="aplicarFiltros(1, 'producto')">
                <input checked value="" name="filtro" type="radio" class="input" />
                <div class="btn">
                <span class="span">All Categories</span>
                </div>
            </div>
            <div class="option1" onclick="aplicarFiltros(1, 'producto')">
                <input value="Clothing" name="filtro" type="radio" class="input" />
                <div class="btn">
                <span class="span">Clothing</span>
                </div>
            </div>
            <div class="option1" onclick="aplicarFiltros(1, 'producto')">
                <input value="Shoes" name="filtro" type="radio" class="input" />
                <div class="btn">
                <span class="span">Shoes</span>
                </div>
            </div>
            <div class="option1" onclick="aplicarFiltros(1, 'producto')">
                <input value="Accessories" name="filtro" type="radio" class="input" />
                <div class="btn">
                <span class="span">Accessories</span>
                </div>
            </div>
            <div class="option1" onclick="aplicarFiltros(1, 'producto')">
                <input value="best" name="filtro" type="radio" class="input" />
                <div class="btn">
                <span class="span">Best Seller</span>
                </div>
            </div>
        </div>
        <div class="group">
            <button id="btn_shproductos" class="productos" type="button" onclick="redireccion('/crear_producto')">New product</button>
        </div>
    {% endif %}
    <div class="group">
        <button class="productos" type="button" style="text-transform: none;" onclick="scrollToBottom()">↓ Bottom</button>
    </div>
</div>