<div class="navbar">
    <!-- Logo centrado -->
    <div class="nav-left">
        <span>&nbsp;</span>
        <div class="menu-container">
            <a>MENU</a>
            <div class="menuContent">
                <ul>
                    <li><a href="{{ url_for('registra_cliente')}}">Registrar Cliente</a></li>
                    <li><a href="{{ url_for('consulta_clientes')}}">Consultar Clientes</a></li>
                    <li><a href="{{ url_for('registra_venta')}}">Registrar Venta</a></li>
                    <li><a href="{{ url_for('consulta_venta')}}">Consultar Ventas</a></li>
                    <li><a href="{{ url_for('consulta_informes')}}">Consultar Informes de Ventas</a></li>
                    <li><a href="{{ url_for('consulta_productos')}}">Consultar Productos</a></li>
                    <li><a href="{{ url_for('generar_informe')}}">Generar Informe de ventas mensuales</a></li>
                    {% if cargo == 'admin' %} 
                        <li><a href="{{ url_for('consulta_empleado')}}">Consultar Empleados</a></li>
                    {% endif %}
                    <li><a href="{{ url_for('logout')}}">Cerrar sesión</a></li>
                </ul>
            </div>
        </div>            
    </div>
    
    <div class="nav-logo">
        <a href="{{ url_for('home') }}" id="logo"><img src="static/images/logo.png" style="height: 50px;"></a>
    </div>

    <!-- Enlaces del lado derecho -->
    <div class="nav-right">
            <a href="{{ url_for('logout')}}">SIGN OUT</a>
        <span>&nbsp;</span>
    </div>
</div>