<div id="ventasTable" class="contenedor_tabla">
    <table>
        <thead>
            <tr>
                {% if status == 'admin' %}
                    <th>Employee ID</th>
                {% endif %}
                    <th>Date</th>
                    <th>Total Amount</th>
                    <th>Client Name</th>
                    <th>Card Number</th>
            </tr>
        </thead>
        <tbody>
            <!-- {% if not transacciones %}
                <tr>
                    <td colspan="10" style="text-align: center; color: var(--color-warning); border-left: none; border-right: none">
                        No sales found.
                    </td>
                </tr>
            {% else %}
                {% for transaccion in transacciones %}
                    <tr>
                        {% if status == 'admin' %}
                            <td>{{ transaccion.empleado_id }}</td>
                        {% endif %}
                        <td>{{ transaccion.fecha }}</td>
                        <td>${{ transaccion.monto }}</td>
                        <td>{{transaccion.cliente_id}}</td>
                        <td>{{ transaccion.cliente.nombre + ' ' + transaccion.cliente.apellido}}</td>
                        {% if status == 'admin' %}
                            <td>{{ transaccion.tarjeta.numero_tarjeta }}</td>
                        {% else %}
                            <td>****************</td>
                        {% endif %}
                    </tr>
                {% endfor %}
            {% endif %} -->
        </tbody>
    </table>
</div>