<div id="ventasTable" class="contenedor_tabla">
    <table>
        <thead>
            <tr>
                {% if status == 'admin' %}
                    <th>Employee ID</th>
                {% endif %}
                    <th>Date</th>
                    <th>Total Amount</th>
                    <th>Client Name</th>
                    <th>Card Number</th>
            </tr>
        </thead>
        <tbody>
            <tr id="noResultsRow" style="display: none; text-align: center; color: var(--color-warning);">
                <td colspan="5" style="border-left: none; border-right: none"> No sales found.</td>
            </tr>
            <!-- CONTENIDO DINAMICO -->
        </tbody>
    </table>
</div>